.homeHeader {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.homeHeaderImage, .seatsPageImage, .seatPageImage, .contactPageImage, .aboutPageImage {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.homeHeaderText {
    width: 500px;
    margin-right: 50px;
}

.featuredSeatsSection {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    padding-left: 50px;
}

.featuredSeats {
    display: flex;
    flex-wrap: wrap;
}

.seatsPageHeader, .aboutPage, .contactPageHeader, .seatPageContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.seatsPageHeaderText, .aboutPageText, .contactPageText, .seatPageSeatInfo {
    width: 500px;
    margin-left: 50px;
}

.seatsPageSeats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding-left: 50px;
}

.seatPageSeatInfo span {
    padding-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.seatPageTaxonomy p {
    background-color: rgb(255, 196, 0);
    padding: 10px 20px;
    margin-right: 10px;
    width: fit-content;
    border-radius: 5px;
    text-transform: lowercase;
}

.seatPageTaxonomyColor, .seatPageTaxonomyMaterial  {
    display: flex;
    flex-direction: column;
}

.seatPageTaxonomyColors, .seatPageTaxonomyMaterials {
    display: flex;
}

.contactPageFormSection {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.contactPageForm {
    padding-left: 30px;
    width: 400px;
    align-items: center;
}

.contactPageForm label{
    display: block;
    margin-top: 15px;
}
      
.contactPageForm input, .contactPageForm textarea {
    width: 90%;
    padding: 5px;
}
      
.contactPageForm textarea {
    min-height: 150px;
}

.contactPageForm button {
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(255, 196, 0);
}

.contactPageForm button:hover {
    background-color: rgb(255, 196, 0, 0.5);
    transform: scale(0.9);
}
